<div class="container">
    <div class="row grid-container">
        <div class="col-md-10">
            <div class="table">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th (click)="sort('name')">Name</th>
                            <th (click)="sort('phone')">Phone</th>
                            <th (click)="sort('cashavailable')">Cash Available</th>
                            <th (click)="sort('buyingin')">Buying In</th>

                            <th (click)="sort('buyingcriteria')">Buying Criteria </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cashbuyer of cashbuyers;trackBy:trackby.cashbuyer">
                            <td width="5%"><img src="images/male.png"
                                    class="card-image" alt="cashbuyer Image" /></td>
                            <td width="15%"><a [routerLink]="['/cashbuyers',cashbuyer._id]">{{ cashbuyer.name | capitalize }}</a></td>
                            <td width="12%">{{ cashbuyer.phone | capitalize }}</td>
                            <td width="12%">{{ cashbuyer.cashavailable}}</td>
                            <td width="28%">{{ cashbuyer.buyingin}}</td>

                            <td width="28%">{{ cashbuyer.buyingcriteria }}</td>
                        </tr>
                        <tr *ngIf="!cashbuyers.length">
                            <td>&nbsp;</td>
                            <td colspan="6">No Records Found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
